/* Font faces first */
@font-face {
    font-family: 'Graphik-Black';
    src: url('../fonts/Graphik-Black.otf') format('opentype');
}

@font-face {
    font-family: 'Graphik-BlackItalic';
    src: url('../fonts/Graphik-BlackItalic.otf') format('opentype');
}

@font-face {
    font-family: 'Graphik-Bold';
    src: url('../fonts/Graphik-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'Graphik-BoldItalic';
    src: url('../fonts/Graphik-BoldItalic.otf') format('opentype');
}

@font-face {
    font-family: 'Graphik-Extralight';
    src: url('../fonts/Graphik-Extralight.otf') format('opentype');
}

@font-face {
    font-family: 'Graphik-ExtralightItalic';
    src: url('../fonts/Graphik-ExtralightItalic.otf') format('opentype');
}

@font-face {
    font-family: 'Graphik-Light';
    src: url('../fonts/Graphik-Light.otf') format('opentype');
}

@font-face {
    font-family: 'Graphik-LightItalic';
    src: url('../fonts/Graphik-LightItalic.otf') format('opentype');
}

@font-face {
    font-family: 'Graphik-Medium';
    src: url('../fonts/Graphik-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'Graphik-MediumItalic';
    src: url('../fonts/Graphik-MediumItalic.otf') format('opentype');
}

@font-face {
    font-family: 'Graphik-Regular';
    src: url('../fonts/Graphik-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'Graphik-RegularItalic';
    src: url('../fonts/Graphik-MediumItalic.otf') format('opentype');
}

@font-face {
    font-family: 'Graphik-Semibold';
    src: url('../fonts/Graphik-Semibold.otf') format('opentype');
}

@font-face {
    font-family: 'Graphik-SemiboldItalic';
    src: url('../fonts/Graphik-SemiboldItalic.otf') format('opentype');
}

@font-face {
    font-family: 'Graphik-Super';
    src: url('../fonts/Graphik-Super.otf') format('opentype');
}

@font-face {
    font-family: 'Graphik-SuperItalic';
    src: url('../fonts/Graphik-SuperItalic.otf') format('opentype');
}

@font-face {
    font-family: 'Graphik-Thin';
    src: url('../fonts/Graphik-Thin.otf') format('opentype');
}

@font-face {
    font-family: 'Graphik-ThinItalic';
    src: url('../fonts/Graphik-ThinItalic.otf') format('opentype');
}

/* Global stylings */

body {
    background-color: #fff;
    font-family: 'Graphik-Light', sans-serif;
    color: #8e94a2;
    padding-bottom: 30px;
}

.outer-wrapper {
    margin: 0 auto;
    max-width: 1316px;
}

.inner-wrapper {
    margin: 0 auto;
    max-width: 676px;
}

.outer-wrapper::after, .inner-wrapper::after {
    content: '';
    display: block;
    height: 0;
    width: 100%;
    clear: both;
}

h1 {
    margin-top: 60px;
    font-family: 'Times New Roman', serif;
    font-size: 48px;
    text-align: center;
    color: #000;
}

/* Navigation */

header {
    padding: 69px 0 38px 0;
}

header .site-logo {
    float: left;
    clear: left;
    max-width: 270px;
}

header .nav {
    float: right;
    clear: right;
}

header .nav a {
    transition: all 0.2s ease;
}

header .nav a, header .nav a:hover, header .nav a:active, header .nav a:focus {
    color: #40434a;
}

header .nav .dropdown-menu .dropdown-menu {
    transition: all 0.2s ease;
}

.breadcrumb {
    background: transparent;
}

.breadcrumb a {
    transition: all 0.2s ease;
}

.breadcrumb a, .breadcrumb a:hover, .breadcrumb a:active, .breadcrumb a:focus {
    color: #89888e;
}

.breadcrumb .active {
    font-weight: bold;
}

/* Content specific */

h1 .highlight-price {
    font-size: 120%;
    color: #38cdad;
}

form h4 {
    margin-top: 90px;
}

form .form-control, .input-group .form-control:first-child {
    width: 98%;
    border: 1px solid #f5f5f5;
    color: #000;
    background-color: #f7f7f7;
    box-shadow: none;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

form .form-control::-webkit-input-placeholder {
    color: #000;
}

form .form-control:-moz-placeholder { /* Firefox 18- */
    color: #000;
}

form .form-control::-moz-placeholder {  /* Firefox 19+ */
    color: #000;
}

form .form-control:-ms-input-placeholder {
    color: #000;
}

form .btn, form .input-group-btn:last-child>.btn {
    background: #3bcfad;
    border: none;
    border-bottom: 2px solid #3ab394;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

form .btn:hover, form .btn:focus, form .btn:active {
    background: #3bcfad;
    border-bottom-color: #3ab394;
}

.table-active, .table-active > td {
    background-color: #f5f5f5;
}

.table-info, .table-info > td {
    font-family: 'Graphik-Medium';
    background-color: #99a8bd;
    color:  #fff;
}

.text-xs-right {
    text-align: right;
}